<!-- About -->
  <section class="page-section" id="{{ site.data.sitetext.about.section | default: about }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div style="padding:35px"></div>
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: About Us }}</h2>
        </div>
      </div>
	  <div class="row">
		<div class="col-lg-8 mx-auto text-center">
      <div style="padding:30px"></div>
		  <div class="large text-muted">{{ site.data.sitetext.about.text | markdownify }}</div>
		</div>
	  </div>
    </div>
  </section>
<!-- End About -->