<!-- Contact -->
  <section class="page-section" id="{{ site.data.sitetext.contact.section | default: contact }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="row">
              <div class="col-md-2">

              </div>
              <div class="col-md-2">
                <div class="section-heading text-uppercase">About</div>
                <div class="directory-group">
                  <a class="directory-group" href="mailto: {{site.email}}">History</a>
                </div>
                <div class="directory-group">
                  <a class="directory-group" href="/#board">Chapter Board</a>
                </div>
                <div class="directory-group">
                  <a class="directory-group" href="mailto: {{site.email}}">News and Blog</a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="section-heading text-uppercase">Projects</div>
                <div class="directory-group">
                  <a class="directory-group" href="{{ '/Ecuador-Project' | relative_url }}">Ecuador</a>
                </div>
                <div class="directory-group">
                  <a class="directory-group" href="{{ '/Nepal-Project' | relative_url }}">Nepal</a>
                </div>
                <div class="directory-group">
                  <a class="directory-group" href="{{ '/Rwanda-Project' | relative_url }}">Rwanda</a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="section-heading text-uppercase">Get Involved</div>
                <div class="directory-group">
                  <a class="directory-group" href="{{ '/How-to-Join' | relative_url }}">How to Join</a>
                </div>
                <div class="directory-group">
                  <a class="directory-group" href="mailto: {{site.email}}">Events</a>
                </div>
                <div class="directory-group">
                  <a class="directory-group" href="mailto: {{site.email}}">Contact Us</a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="section-heading text-uppercase">Support</div>
                <div class="directory-group">
                  <a class="directory-group" href="mailto: {{site.email}}">Future Work</a>
                </div>
                <div class="directory-group">
                  <a class="directory-group" href="mailto: {{site.email}}">Donate</a>
                </div>
                <div class="directory-group">
                  <a class="directory-group" href="mailto: {{site.email}}">Sponsors</a>
                </div>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- End Contact -->