<section class="page-section" id="eventlist">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="eventlist-header text-uppercase" style="color: black;">Upcoming Events</h2>
      </div>
    </div>
    <div class="row" style="margin-bottom:-100px;">
    {% for date in site.dates %}
        <div class="col-md-4 col-sm-6 eventlist-item">
            <a class="eventlist-link" href="{{ date.permalink | relative_url }}">
              <div class="eventlist-hover">
                <div class="eventlist-hover-content">
                </div>
              </div>
              <img class="img-fluid" src="{{ date.caption.thumbnail }}" alt="">
            </a>
            <a href="{{ date.url | relative_url  }}">
            <div class="eventlist-caption">
              <h4>{{ date.caption.title }}</h4>
              <p class="text-muted">{{ date.caption.date_location }}</p>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="eventlist-header text-uppercase" style="color: black;">Past Events</h2>
      </div>
    </div>
  <div class="row">
  {% for date in site.datespast %}
  <div class="col-md-4 col-sm-6 eventlist-item">
      <a class="eventlist-link" href="{{ date.permalink | relative_url }}">
        <div class="eventlist-hover">
          <div class="eventlist-hover-content">
          </div>
        </div>
        <img class="img-fluid" src="{{ date.caption.thumbnail }}" alt="">
      </a>
      <a href="{{ date.url | relative_url  }}">
      <div class="eventlist-caption">
        <h4>{{ date.caption.title }}</h4>
        <p class="text-muted">{{ date.caption.date_location }}</p>
      </div>
      </a>
    </div>
  {% endfor %} 
</div> 
</div>
</section>