<!-- Events Grid -->
<section class="page-section" id="{{ site.data.sitetext.events.section | default: events }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.events.title | markdownify | default: Events }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.events.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for event in site.events %}
      <div class="col-md-4 col-sm-6 events-item">
        <a class="events-link" data-toggle="modal" href="#{{ event.permalink }}">
          <div class="events-hover">
            <div class="events-hover-content">
              <i class="fas fa-plus fa-3x"></i> 
            </div>
          </div>
          <img class="img-fluid" src="{{ event.caption.thumbnail }}" alt="">
        </a>
        <div class="events-caption">
          <h4>{{ event.caption.title }}</h4>
          <p class="text-muted">{{ event.caption.date_location }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>

<!-- Events Modals -->
{% for event in site.events %}
  <div class="events-modal modal fade" id="{{ event.permalink }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- event Details Go Here -->
                <h2 class="text-uppercase">{{ event.title }}</h2>
                <p class="item-intro text-muted">{{ event.subtitle }}</p>
                <img class="img-fluid d-block mx-auto" src="{{ event.image }}" alt="{{ project.alt }}">
				        <p>{{ event.content }}</p>		
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}