section.bckground{
    text-align: center;
    color: white;
    background-image: url("../../assets/img/transition.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
}
