section.wave {
    text-align: center;
    color: white;
    background-image: url("../../assets/img/wave.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
}
